<div class="sidebar">

    <div class="toggleButtonGroup sidebarSection">
        <input
            type="radio"
            [id]="this.toolNames.PENCIL_TOOL_NAME"
            name="tool"
            [value]="this.toolNames.PENCIL_TOOL_NAME"
            (change)="onToolChange($event)"
            [checked]="selectedTool.includes(this.toolNames.PENCIL_TOOL_NAME)"
        />
        <label [for]="this.toolNames.PENCIL_TOOL_NAME">
            <mat-icon
                class="material-icons"
                [matTooltip]="elementDescriptions.PENCIL_TOOL_DESCRIPTION"
                matTooltipPosition="right"
                [matTooltipShowDelay]="tooltipShowDelay"
                >create
            </mat-icon>
        </label>

        <input
            type="radio"
            [id]="this.toolNames.ERASER_TOOL_NAME"
            name="tool"
            [value]="this.toolNames.ERASER_TOOL_NAME"
            (change)="onToolChange($event)"
            [checked]="selectedTool.includes(this.toolNames.ERASER_TOOL_NAME)"
        />
        <label [for]="this.toolNames.ERASER_TOOL_NAME">
            <mat-icon
                class="fas fa-eraser"
                [matTooltip]="elementDescriptions.ERASER_TOOL_DESCRIPTION"
                matTooltipPosition="right"
                [matTooltipShowDelay]="tooltipShowDelay"
            ></mat-icon>
        </label>
    </div>
    <div class="topDivider sidebarSection">
        <mat-icon
            id="undo"
            #undo
            class="material-icons disabled"
            [matTooltip]="elementDescriptions.UNDO_DESCRIPTION"
            matTooltipPosition="right"
            [matTooltipShowDelay]="tooltipShowDelay"
            (click)="this.undoRedoService.undo()"
            >undo</mat-icon
        >
        <mat-icon
            id="redo"
            #redo
            class="material-icons disabled"
            [matTooltip]="elementDescriptions.REDO_DESCRIPTION"
            matTooltipPosition="right"
            [matTooltipShowDelay]="tooltipShowDelay"
            (click)="this.undoRedoService.redo()"
            >redo</mat-icon
        >
    </div>
</div>
