.chat-bar {
  position: absolute;
  width: 380px;
  height: 92.5%;
  right: 0px;
  top: 66px;

  /* Gray 5 */
  background: #E0E0E0;
}

.chat-button:active {
  width: 90%;
  height: 60px;
  margin: 5%;
  top: 102px;
  //   /* Gray 6 */
  background: #F2F2F2;
  border-radius: 50px;
  cursor: pointer;
  // text
  text-align: center;
  vertical-align: middle;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 58px;
  color: #000000;
}

.chat-button {
  width: 90%;
  height: 60px;
  margin: 5%;
  top: 102px;
  //   /* Gray 6 */
  background: #ffffff;
  border-radius: 50px;
  cursor: pointer;
  // text
  text-align: center;
  vertical-align: middle;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 58px;
  color: #000000;
}

.chat {
  position: absolute;
  margin: auto;
  width: 90%;
  padding: 5%;
  bottom: 0%;
}

hr {
  width: 90%;
}

.window-button {
  float: right;
  margin-bottom: 200px;
}