<div class="chat-bar">
    <button *ngIf="this.isWindowButtonAvailable" class="window-button" (click)="openExternalWindow()">
        <i class="far fa-window-restore"></i>
    </button>
    <div #chatContainer class="chat-container">
        <div *ngFor="let conversation of this.chatService.getChatList()">
            <div class="chat-button" (click)="this.changeChat(conversation.chatId)">
                <p>{{conversation.name}}</p>
            </div>
        </div>
        <button (click)="this.joinChat('room1')">join chat 1</button>
        <button (click)="this.leaveChat('room1')">leave chat 1</button>
    </div>

    <app-chat class="chat"></app-chat>
</div>