.chat-bar {
  width: 380px;
  height: 100%;
  background: #E0E0E0;
  position: relative;
}

.chat-container {
  padding-top: 5%;
  width: 100%;
  height: calc(100% - 550px);
}

.chat-button:active {
  width: 90%;
  height: 60px;
  top: 102px;
  background: #F2F2F2;
  border-radius: 50px;
  cursor: pointer;
  // text
  text-align: center;
  vertical-align: middle;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 58px;
  color: #000000;
}

.chat-button {
  display: flex;
  align-items: center;
  width: 90%;
  height: 60px;
  margin: 0 auto;
  margin-bottom: 10px;
  top: 102px;
  background: #ffffff;
  border-radius: 50px;
  cursor: pointer;
  // text
  text-align: center;
  vertical-align: middle;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 58px;
  color: #000000;

  p {
    width: 80%;
    margin: 0;
  }

  button {
    height: 50%;
    margin-right: 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;

    display: flex;
    align-items: center;
  }
}

.joined {
  background-color: #A1A1A1;
  button {
    background-color: #BA2034;
  }
}

.not-joined{
  button {
    background-color: #99C355;
  }
}

.chat {
  margin: auto;
  width: 90%;
  padding: 5%;
  bottom: 0%;
}

hr {
  width: 90%;
}

.window-button {
  float: right;
  border:none;
  background-color: #E0E0E0;
}

.window-button:hover {
  cursor: pointer;
}

.new-chat {
  margin-left: 3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  form {
    display: flex;
    align-items: center;
  }
}

.chat-input {
  width: 80%;
  border-radius: 20px;
  background-color: #FFFFFFFF;
  input{
    border: none;
    font-size: 16px;
    outline: none;
  }
}

#refresh-button {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  display: flex;
  
  span {
    font-size: 30px;
  }
}

#add-button {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  display: flex;

  span {
    font-size: 30px;
  }
}

.notification {
  position: relative;
  bottom: 28px;
  right: 10px;
  background-color: #BA2034;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.notification-general {
  position: relative;
  bottom: 28px;
  right: -34px;
  background-color: #BA2034;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.scroller {
  overflow-y: scroll;
  padding-top: 6px;
  height: 100%;
}

.selected {
  background-color: #4AA7DD;
}

#refresh-button{
  transition: transform;
  transition-duration: 1s;
}

#refresh-button:active{
  transform: rotate(360deg);
  transition-duration: 0s;
}

.scroller::-webkit-scrollbar {
  width: 20px;
}

.scroller::-webkit-scrollbar-track {
  background-color: transparent;
}

.scroller::-webkit-scrollbar-thumb {
  background-color: #FFFFFF;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.scroller::-webkit-scrollbar-thumb:hover {
  background-color: #FFFFFF;
}