<canvas id="confetti-canvas"></canvas>
<mat-horizontal-stepper linear #stepper>
    <mat-step [editable]="false">
        <ng-template matStepLabel>Résultat</ng-template>
        <div id="content">
            <h1 id="title">{{result}}</h1>
            <div id="draw" *ngIf="result == 'Partie nulle'">
                <div id="results" class="draw-game">
                    <div class="team">
                        <p id="score">{{drawTeam1.score}}</p>
                        <p class="player">{{drawTeam1.players[0]}}</p>
                        <p class="player">{{drawTeam1.players[1]}}</p>
                    </div>
                    <div class="team">
                        <p id="score">{{drawTeam2.score}}</p>
                        <p class="player">{{drawTeam2.players[0]}}</p>
                        <p class="player">{{drawTeam2.players[1]}}</p>
                    </div>
                </div>
            </div>
            <div id="not-draw" *ngIf="result != 'Partie nulle'">
                <div id="results">
                    <div id="winning-team" class="team winning">
                        <p>{{winningTeam.score}}</p>
                        <img id="crown" src="./assets/img/couronner.png">
                        <p class="player winning-player">{{winningTeam.players[0]}}</p>
                        <p class="player winning-player">{{winningTeam.players[1]}}</p>
                    </div>
                    <div class="team loosing">
                        <p id="loosing-team-score">{{loosingTeam.score}}</p>
                        <p class="player loosing-player">{{loosingTeam.players[0]}}</p>
                        <p class="player loosing-player">{{loosingTeam.players[1]}}</p>
                    </div>
                </div>
            </div>
            <div>
                <button mat-button matStepperNext>Suivant</button>
            </div>
        </div>
    </mat-step>

    <mat-step [editable]="false" *ngFor="let vdrawing of virtualPlayerDrawings">
        <ng-template matStepLabel>Dessin - virtuel</ng-template>
        <div id="content">
            <p>{{vdrawing.name}}</p>
            <img src={{vdrawing.url}}>
            <div>
                <p>Avez-vous apprécié ce dessin?</p>
                <button mat-button matStepperNext (click)="vote(vdrawing.id, true)"><span class="material-icons">thumb_up</span></button>
                <button mat-button matStepperNext (click)="vote(vdrawing.id, false)"><span class="material-icons">thumb_down</span></button>
                <button mat-button matStepperNext>Sauter cette étape</button>
            </div>
        </div>
    </mat-step>

    <mat-step [editable]="false" *ngFor="let drawing of realPlayerDrawings">
        <ng-template matStepLabel>Dessin - joueur</ng-template>
        <div id="content">
            <p>{{drawing.drawingName}}</p>
            <img src={{drawing.url}}>
            <div>
                <p>Voulez-vous ajouter votre dessin à la banque de dessins?</p>
                <button mat-button matStepperNext>Oui</button>
                <button mat-button matStepperNext>Non</button>
            </div>
        </div>
    </mat-step>
    <mat-step [editable]="false">
        <ng-template matStepLabel>Terminer</ng-template>
        <div id="content">
            <div>
                <p>Vous pouvez maintenant retourner au menu principal</p>
                <button mat-button mat-dialog-close (click)="quit()">Retourner au menu principal</button>
            </div>
        </div>
    </mat-step>
</mat-horizontal-stepper>