<img src={{virtualPlayerDrawings[0]}}>
<mat-horizontal-stepper linear #stepper>
    <mat-step [editable]="false">
        <ng-template matStepLabel>Résultat</ng-template>
        <div id="content">
            <h1 id="title">{{result}}</h1>
            <div id="draw">
                <div id="results" class="draw-game">
                    <div class="team">
                        <p id="score">3</p>
                        <p class="player">Marc-Alain</p>
                        <p class="player">Guillaume</p>
                    </div>
                    <div class="team">
                        <p id="score">1</p>
                        <p class="player">Marc-Olivier</p>
                        <p class="player">Samuel</p>
                    </div>
                </div>
            </div>
            <div *ngIf="result != 'Partie nulle'" id="not-draw">
                <div id="results">
                    <div id="winning-team" class="team winning">
                        <p>3</p>
                        <img id="crown" src="./assets/img/couronner.png">
                        <p class="player winning-player">Marc-Alain</p>
                        <p class="player winning-player">Guillaume</p>
                    </div>
                    <div class="team loosing">
                        <p id="loosing-team-score">1</p>
                        <p class="player loosing-player">Marc-Olivier</p>
                        <p class="player loosing-player">Samuel</p>
                    </div>
                </div>
            </div>
            <div>
                <button mat-button matStepperNext>Suivant</button>
            </div>
        </div>
    </mat-step>

    <mat-step [editable]="false">
        <ng-template matStepLabel>Dessin - virtuel</ng-template>
        <div id="content">
            <img src="./assets/img/placeholder.png">
            <div>
                <p>Avez-vous apprécié ce dessin?</p>
                <button mat-button matStepperNext (click)="upVote()"><span class="material-icons">thumb_up</span></button>
                <button mat-button matStepperNext (click)="downVote()"><span class="material-icons">thumb_down</span></button>
                <button mat-button matStepperNext>Sauter cette étape</button>
            </div>
        </div>
    </mat-step>

    <mat-step [editable]="false">
        <ng-template matStepLabel>Dessin - joueur</ng-template>
        <div id="content">
            <img src="./assets/img/placeholder.png">
            <div>
                <p>Voulez-vous ajouter votre dessin à la banque de dessins?</p>
                <button mat-button>Oui</button>
                <button mat-button mat-dialog-close (click)="quit()">Non</button>
            </div>
        </div>
    </mat-step>
</mat-horizontal-stepper>