.mat-stepper-horizontal {
    margin-top: 8px;
}

.mat-form-field {
    margin-top: 16px;
}

#content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#image-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#image {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#vote-section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#skip {
    display: flex;
    align-items: center;
    justify-content: center;
}

#results {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#crown {
    height: 100px;
}

#loosing-team-score {
    margin-bottom: 100px;
}

.team {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

.winning {
    font-size: 50px;
}

.loosing {
    font-size: 25px;
}

.winning-player {
    margin-bottom: 30px;
}

.loosing-player {
    padding-top:12px;
}

#title {
    margin-top: 30px;
    font-size: 50px;
}

.draw-game {
    font-size: 35px;

    p {
        margin-bottom: 30px;
    }
}

#score {
    font-size: 80px;
    margin-bottom: 50px;
}

#confetti-canvas {
    position:absolute;
    width: 1125px;
    height: 750px;
}

#image-form {
    height: 500px;
    width: 250px;
    background-color: #E0E0E0;
    overflow-y: scroll; 
}

#image-form::-webkit-scrollbar {
    width: 20px;
}

#image-form::-webkit-scrollbar-track {
    background-color: transparent;
}

#image-form::-webkit-scrollbar-thumb {
    background-color: #E0E0E0;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

#image-form::-webkit-scrollbar-thumb:hover {
    background-color: #E0E0E0;
}

#form-button {
    margin-top: 20px;
}

#skip-button {
    margin-top: 30px;
}

#tip{
    margin: auto;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 80% 20%;
    width: 80%;
    background-color: white;
    margin-top: 10px;
}

#tip input {
    height: 30px;
    background-color: white;
    border-style: hidden;
    cursor: pointer;
    border-radius: 10px;
}

#tip p {
    margin:auto;
}

.form-wrapper {
    margin-top: 50px;
}

.form {
    text-align: center;
}

#form-button {
    width: 50%;
}