.blue {
    background-color: #4AA7DD;
}

.red {
    background-color: #BA2034;
}

.green {
    background-color: #8BC640;
}

.orange {
    background-color: #F89524;
}

.white {
    background-color: #E0E0E0;
}

.title {
    margin-left: 10%;
}

.game-type-button {
    border: none;
    margin-left: 5%;
    margin-top: 2%;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    
    .logo {
        width: 100%;
        height: 100%;
    }
}

.search-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    margin-top: 5%;
    width: 90%;
  
    input{
      flex-grow: 1;
      border: none;
      font-size: 16px;
      padding: 6px 10px;
      outline: none;
      border-radius: 20px;
      background-color: #FFFFFFFF;
    }
} 

.game-button{
    width: 90%;
    height: 60px;
    margin: 5%;
    top: 102px;
    //   /* Gray 6 */
    background: #4F4F4F;;
    border-radius: 50px;
    cursor: pointer;
    // text
    text-align: left;
    vertical-align: middle;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color:  #F2F2F2;
    line-height: 58px;
    
    .game-logo {
        float:right;
        margin: 10px;
        height: 40px;
    }
}

.game-button:active{
    width: 90%;
    height: 60px;
    margin: 5%;
    top: 102px;
    //   /* Gray 6 */
    background: #747373;;
    border-radius: 50px;
    cursor: pointer;
    // text
    text-align: left;
    vertical-align: middle;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color:  #F2F2F2;
    line-height: 58px;
}

