.example-spacer {
    flex: 1 1 auto;
}

span {
    color:#FFFFFFFF;
}

mat-toolbar {
    background: #231F20;
    height: 5%;
}

img {
    width: 30px;
    margin-right: 10px;
}

#logo-container:hover {
    cursor: pointer;
}