.example-spacer {
    flex: 1 1 auto;
}

span {
    color:#FFFFFFFF;
}

mat-toolbar {
    background: #231F20;
    height: 5%;
}

img {
    width: 30px;
    margin-right: 10px;
}

#logo-container{
    outline: none;
}

#logo-container:hover {
    cursor: pointer;
}

button {
    a {
        margin-left: 10px;
        text-decoration: none;
        color: white;
    }
}

#menu-button {
    color: white;
    font-size: 20px;
}

#username {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

app-avatar-icon {
    margin-top: 8px;
}