<div class="game-bar">

    <div class="classic-button" id (click)="classic()">
        <p class="title"> Classique </p>
    </div>

    <div class="solo-button" (click)="sprintSolo()">
        <p class="title"> Sprint Solo </p>
    </div>

    <div class="coop-button" (click)="sprintCoop()">
        <p class="title"> Sprint Coop </p>
    </div>

    <div class="create-button" (click)="createWordImage()">
        <p class="title"> Créeation de mot image </p>
    </div>

    <hr>

    <app-game-search></app-game-search>

</div>
