<div class="chat-bar">
    <div class="container">
        <div id="message-scroller" class="chat-container">
            <div id="history-button-container">
                <p *ngIf="this.chatService.currentChatId != 'General' && !this.isGameChat()" id="delete-button"
                    (click)="deleteChat()">Supprimer la conversation</p>
                <p *ngIf="!this.isChatHistoryDisplayed()" id="history-button" (click)="loadChatHistory()">Afficher
                    l'historique</p>
            </div>
            <div *ngFor="let message of chatService.getChatMessages()">
                <div class="message reverse" *ngIf="message.isUsersMessage">
                    <app-avatar-icon [avatar]="message.avatar"></app-avatar-icon>
                    <div class="message-text-container">
                        <p class="username">{{message.username}} - <span
                                *ngIf="message.username != 'System'">{{message.timestamp}}</span></p>
                        <p [ngStyle]="{'color': message.textColor}"
                            [ngClass]="{'system-message': message.username == 'System'}">{{message.text}}</p>
                    </div>
                </div>
                <div class="message" *ngIf="message.isUsersMessage == false">
                    <app-avatar-icon [avatar]="message.avatar"></app-avatar-icon>
                    <div class="message-text-container">
                        <p class="username">{{message.username}}<span *ngIf="message.username != 'System'"> -
                                {{message.timestamp}}</span></p>
                        <p [ngStyle]="{'color': message.textColor}"
                            [ngClass]="{'system-message': message.username == 'System'}">{{message.text}}</p>
                    </div>
                </div>
            </div>
        </div>
        <form [formGroup]="messageForm" class="send-message-form" (ngSubmit)="onSubmit()">
            <input #input type="text" placeholder="Aa" formControlName="message">
            <button type="submit"></button>
        </form>
    </div>
</div>