<div class="wrapper">
    <app-navbar></app-navbar>
    <div id="editor">
        <app-editor></app-editor>
    </div>
    <div *ngIf="(this.gameService.drawingPlayer == this.gameService.username)" id="word">
        <h1>{{this.gameService.drawingName}}</h1>
    </div>
    <div id="game">
        <div id="score">
            <div id="team1" class="team">
                team1
                <h3>{{this.gameService.score[0]}}</h3>
            </div>
            <div id="team2" class="team">
                team2
                <h3>{{this.gameService.score[1]}}</h3>
            </div>
        </div>
        <div id="guess">
            <form *ngIf="(this.gameService.drawingPlayer != this.gameService.username)" [formGroup]="guessForm" (ngSubmit)="onGuessSubmit()">
                <input type="text" formControlName="guess">
                <button type="submit">Guess</button>
            </form>
        </div>
        <div *ngIf="(this.gameService.drawingPlayer != this.gameService.username)" id="tips">
            <button type="submit">Plz give me a tip</button>
        </div>
    </div>
    <div id="chat-bar">
        <app-chat-bar></app-chat-bar>
    </div>       
</div>
