<div class="wrapper">
    <app-navbar></app-navbar>
    <div class="column-container">
        <div id="editor-column">
            <div id="game-data">
                <div id="score">
                    <div id="team1" class="team">
                        <p>team1</p>
                        <h1>{{this.gameService.score[0]}}</h1>
                    </div>
                    <div id="team2" class="team">
                        <p>team2</p>
                        <h1>{{this.gameService.score[1]}}</h1>
                    </div>
                </div>
            </div>
            <div id="editor">
                <app-editor></app-editor>
                <div id="guess-box">
                    <form *ngIf="(this.gameService.drawingPlayer != this.gameService.username)" [formGroup]="guessForm" (ngSubmit)="onGuessSubmit()">
                        <input matInput id="guess-input" type="text" formControlName="guess" placeholder="Supposition...">
                        <button id="guess-button" type="submit"><span class="material-icons">check_circle</span></button>                            
                    </form>
                </div>
            </div>
            <div id="tools">
                <app-tools></app-tools>
            </div>            
        </div>
        <div id="chat-column">
            <div id="chat-bar">
                <app-chat-bar></app-chat-bar>
            </div>     
        </div>
    </div>
</div>
