<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.prototype_mobile">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:logo="@mipmap/ic_launcher"
        android:icon="@drawable/logo_light"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Prototype_mobile"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".view.tutorial.StaticTutorialActivity"
            android:screenOrientation="landscape"
            android:label="@string/title_activity_static_tutorial"
            android:theme="@style/Theme.Prototype_mobile.NoActionBar" />
        <activity
            android:name=".view.game.endgame.EndGameActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan"
            />
        <activity
            android:name=".view.game.GameActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.mainmenu.MainMenuActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.connection.sign_up.SignUpActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.connection.login.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>