<div class="container">
    <div #workSpace id="draw-space">
        <app-drawing #drawingComponent class="drawing" tabindex="0" [isInGame]="isInGame" [canvasSize]="canvasSize" [previewSize]="previewSize"></app-drawing>
    </div>
    <div id="tool-space" *ngIf="(this.gameService.drawingPlayer == this.gameService.username) || !this.gameService.isInGame">
        <div class="colors">
            <button class="add-button" [ngStyle]="{'background-color': pencilColor}">                
                <input
                    class="color-input"
                    #primary
                    type="color"
                    [value]="this.pencilColor"
                    (change)="this.setColor($event.target.value)"
                />
            </button>
            <button
            *ngFor="let color of previousColors"
            class="individual-color"
            [ngStyle]="{'background-color': color }"
            (click)="this.setColor(color)"
            ></button>
        </div>
        <div class="slider">
            <mat-slider [min]="lineWidthMin" [max]="lineWidthMax" [step]="lineWidthStep" [(value)]="this.drawingService.lineWidth" (change)="this.changeLineWidth()"> </mat-slider><span>Grosseur du trait</span>
            <mat-slider *ngIf="this.drawingService.currentTool == 'pencil'" [min]="opacityMin" [max]="opacityMax" [step]="opacityStep" [(value)]="opacity" (change)="changeOpacity()"> </mat-slider><span *ngIf="this.drawingService.currentTool == 'pencil'">Opacité</span>
        </div>
    </div>    
</div>

