<div class="container">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="gameForm" novalidate>
          <div class="formHeader">
              <h2>Creation de la partie</h2>
          </div>
  
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Nom de la partie" formControlName="name" required>
            <mat-error>
              {{errors.name}} 
            </mat-error>
          </mat-form-field>


        <mat-radio-group class="full-width-input" formControlName="difficulty">
            <mat-radio-button [value]="0">
            <img src="../../../assets/img/easyLogo.png" alt="easy" class="difficulty" id="easy">
            </mat-radio-button>
            <mat-radio-button [value]="1">
            <img src="../../../assets/img/normalLogo.png" alt="normal" class="difficulty" id="normal">
            </mat-radio-button>
            <mat-radio-button [value]="2">
            <img src="../../../assets/img/hardLogo.png" alt="hard" class="difficulty" id ="hard">
            </mat-radio-button>
        </mat-radio-group>
  
        <button mat-raised-button [disabled]="gameForm.invalid" (click)="create()">Créer</button>
          
        </form>
      </mat-card-content>
    </mat-card>  
</div>
  