mat-card {
    width: 50%;
    max-width: 400px;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.formHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1em;

    h2{
        margin: 0% 10% 0% 0%;
        flex-grow: 1;
    }
}

mat-form-field {
    display: block;
    margin-bottom: 10px;
}

button {
    background-color: #5fa6d8;
    color: white
}

.container {
    height: 100%;
    position: relative;
}

.mat-radio-group{
    display: flex;
    justify-content: space-around;
    padding-bottom: 1.25em;
}

:host ::ng-deep .mat-radio-container{
    display: none;
}

:host ::ng-deep .mat-radio-label-content{
    padding: 0px;
    display: flex;
}

.mat-radio-button {
    padding: 5px;
}

.mat-radio-checked {
    border-color:black;
    border-style: solid;
    border-width: 3px;
    padding: 2px;
    border-radius: 70%;
}

.logo {
    width: 10%;
    height: 10%;
}

.avatar {
    width: 50px;
    height: 50px;
}