<div class="container">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="userRegistrationForm" novalidate>
        <h2>Register</h2>

        <mat-form-field class="full-width-input">
          <input matInput placeholder="Prénom" formControlName="firstname" required>
          <mat-error>
            {{errors.name}}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <input matInput placeholder="Nom" formControlName="name" required>
          <mat-error>
            {{errors.name}}
          </mat-error>
        </mat-form-field>
        
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Nom d'utilisateur" formControlName="username" name="username" required>
          <mat-error>
            {{errors.name}}
          </mat-error>
        </mat-form-field>
        
        <div formGroupName="passwordGroup">
          <mat-form-field>
              <input matInput placeholder="Mot de passe" type="password" formControlName="password">
              <mat-error>
                  {{errors.password}}
              </mat-error>
          </mat-form-field>
      
          <mat-form-field>
              <input matInput placeholder="Confirmation mot de passe" type="password" formControlName="confirmPassword" [errorStateMatcher]="confirmValidParentMatcher">
              <mat-error>
                  {{errors.confirmPassword}}
              </mat-error>
          </mat-form-field>
      </div>
      <p> Vous avez déjà un compte? <a routerLink="/login"> Connexion </a> </p>
      <button mat-raised-button [disabled]="userRegistrationForm.invalid" (click)="register()">Register</button>
        
      </form>
    </mat-card-content>
  </mat-card>  
</div>
