.mat-stepper-horizontal {
    margin-top: 8px;
}

.mat-form-field {
    margin-top: 16px;
}

#content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
