<app-navbar></app-navbar>  
<mat-horizontal-stepper linear #stepper>
    <mat-step>
        <ng-template matStepLabel>Classique</ng-template>
        <div id="content">
            <div id="content">
                <img src="./assets/img/placeholder.png">
                <div>
                <button mat-button matStepperNext>Suivant</button>
                </div>
            </div>
        </div>
    </mat-step>

    <mat-step>
    <ng-template matStepLabel>Classique - Deviner</ng-template>
    <div id="content">
        <img src="./assets/img/placeholder.png">
        <div>
            <button mat-button matStepperPrevious>Précédent</button>
            <button mat-button matStepperNext>Suivant</button>
        </div>
    </div>
    </mat-step>

    <mat-step>
    <ng-template matStepLabel>Classique - Dessiner</ng-template>
    <div id="content">
        <img src="./assets/img/placeholder.png">
        <div>
            <button mat-button matStepperPrevious>Précédent</button>
            <button mat-button matStepperNext>Suivant</button>
        </div>
    </div>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Sprint Solo</ng-template>
        <div id="content">
            <img src="./assets/img/placeholder.png">
            <div>
            <button mat-button matStepperPrevious>Précédent</button>
            <button mat-button matStepperNext>Suivant</button>
            </div>
        </div>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Sprint Coop</ng-template>
        <div id="content">
            <img src="./assets/img/placeholder.png">
            <div>
            <button mat-button matStepperPrevious>Précédent</button>
            <button mat-button matStepperNext>Suivant</button>
            </div>
        </div>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Fin</ng-template>
        <div id="content">
            <img src="./assets/img/placeholder.png">
            <div>
            <button mat-button matStepperPrevious>Précédent</button>
            <button mat-button (click)="stepper.reset()">Recommencer</button>
            <button mat-button (click)="quit()">Quitter</button>
            </div>
        </div>
    </mat-step>

</mat-horizontal-stepper>