.wrapper {
    background-color: #4F4F4F;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}

* {
    box-sizing: border-box;
}

.column-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 95%;
}

#editor-column {
    flex: 1;
    margin-top: 1%;
    display: flex;
    flex-flow: row nowrap;
}

#chat-column {
    width: 380px;
}

#game-data-wrapper{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
}

#game-data {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;

    .my-username{
        font-weight: bold;
        font-size: 20px;
        color: #4195C4;
    }
}

#editor {
    height: 100%;
    flex-grow: 2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    h1 {
        color: white;
        font-size: 30px;
    }
}

#chat-bar {
    height: 100%;
    width: 380px;
    float: right;
}

#guess-box {
    position: relative;
    border: 3px solid #56A0CE;
    padding: 10px;
    border-radius: 35px;
    width: 300px;
    margin-bottom: 5px;
}

#guess-button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    margin-left: 10px;
}

#guess-input {
    font-family: inherit;
    width: 80%;
    border: 0;
    border-bottom: 2px solid #2E2E2E;
    outline: 0;
    font-size: 1.3rem;
    color: white;
    margin-left: 10px;
    background: transparent;
    transition: border-color 0.2s;
}

#guess-input:focus {
    font-weight: 500;
    border-image-slice: 1;
}

#guess-button span {
    color: #A8DBFF;
    height: 100%;
    font-size: 30px;
    position: absolute;
    top: 10px;
}

#game-time {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    p{
        color: white;
    }

    h1 {
        color: white;
        font-size: 50px;
        font-weight: 600;
    }
}

#round-time {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    p{
        color: white;
    }

    h1 {
        color: #F89524;
        font-size: 50px;
        font-weight: 600;
    }
}

#score-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    h3 {
        color: white;
        font-size: 30px;
        font-weight: 500;
    }
}

#guesses-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    h3 {
        color: #F89524;
        font-size: 20px;
        font-weight: 400;
    }
}

#team-container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

    p {
        color: white;
    }
}

#hint-button {
    background: none;
    color: #A8DBFF;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-size: 50px;
}