#chat-bar {
    height: 95%;
    position: absolute;
    right: 0;
}

#image-form {
    height: 95%;
    position: absolute;
    left: 0;
    width: 250px;
    background-color: #E0E0E0;
}

#editor {
    position: absolute;
    left: 250px;
    height: 95%;
}

.wrapper {
    background-color: #4F4F4F;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}

.form {
    margin-top: 50px;
    text-align: center;
}


#form-button {
    margin-top: 20px;
}

#tip{
    margin: auto;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 80% 20%;
    width: 80%;
    background-color: white;
    margin-top: 10px;
}

#tip input {
    height: 30px;
    background-color: white;
    border-style: hidden;
    cursor: pointer;
    border-radius: 10px;
}

#tip p {
    margin:auto;
}

