<div class="wrapper">
    <app-navbar></app-navbar>
    <div id="image-form">
        <form class="form form-wrapper" [formGroup]="imageCreationForm">
            <mat-form-field appearance="fill">
                <mat-label>Mot</mat-label>
                <input matInput placeholder="Mot" formControlName="word" required>
                <mat-error>
                    {{errorMessages.text}}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Difficulté</mat-label>
                <mat-select formControlName="level">
                    <mat-option *ngFor="let level of levels" [value]="level">
                    {{level}}
                    </mat-option>
                </mat-select>                
            </mat-form-field>

            <form class="form" [formGroup]="tipsForm">
                <mat-form-field appearance="fill">
                    <mat-label>Indice</mat-label>
                    <input matInput placeholder="Indice" formControlName="tip" required>
                    <mat-error>
                        {{errorMessages.text}}
                    </mat-error>
                </mat-form-field>
            </form>

            <button id="tip-button" mat-raised-button (click)="addTip()" [disabled]="tipsForm.invalid">Ajouter l'indice</button>
            <div id="tip" *ngFor="let tip of tips; let index = index">
                <p>{{tip}}</p>
                <input type="button" (click)="deleteTip(index)" value="X">
            </div>
            <button id="form-button" mat-raised-button (click)="sendForm()" [disabled]="imageCreationForm.invalid || !isTipListValid || this.drawingService.strokeStack.length < 1">Envoyer</button>
            <button id="form-button" mat-raised-button (click)="openPreview()" [disabled]="imageCreationForm.invalid && !isTipListValid && this.drawingService.strokeStack.length < 1">Preview</button>
        </form>


    </div>
    <div id="editor">
        <app-editor></app-editor>
    </div>
    <div id="chat-bar">
        <app-chat-bar></app-chat-bar>
    </div>    
</div>

