mat-card {
    max-width: 400px;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.formHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1em;

    h2{
        margin: 0% 10% 0% 0%;
        flex-grow: 1;
    }
}

mat-form-field {
    display: block;
}

button {
    background-color: #5fa6d8;
    color: white
}

.container {
    height: 100%;
    position: relative;
}

.logo {
    width: 10%;
    height: 10%;
}