<div class="wrapper">
    <app-navbar></app-navbar>
    <div class="column-container">
        <div id="game-column">
            <app-game-bar></app-game-bar>
        </div>
        <div id="profile-column">
            <div id="profile-container">
                <app-avatar-icon [avatar]="avatar"></app-avatar-icon>
                <h1>{{username}}</h1>
                <mat-button-toggle-group id="toggle-group" #group="matButtonToggleGroup" [value]="category" (change)="onValChange(group.value)">
                    <mat-button-toggle value="0">
                        Profil
                    </mat-button-toggle>
                    <mat-button-toggle value="1">
                        Statistiques
                    </mat-button-toggle>                    
                    <mat-button-toggle value="2">
                        Historique des parties
                    </mat-button-toggle>
                    <mat-button-toggle value="3">
                        Historique de connexion
                    </mat-button-toggle>
                </mat-button-toggle-group>
                <div id="information">
                    <div *ngIf="category == '0'">
                        <h1>Prénom: {{userInfo.surname}}</h1>
                        <h1>Nom: {{userInfo.name}}</h1>
                    </div>
                    <div id="table-container" *ngIf="category == '1'">
                        <table>
                            <tr>
                                <th>Parties jouées</th>
                                <th>Parties classiques gagnées</th>
                                <th>Ratio V/D Classic</th>
                                <th>Durée moyenne partie</th>
                                <th>Temps jouées</th>
                                <th>Meilleur score Solo</th>
                                <th>Meilleur score Coop</th>
                                <th>Votes sur dessins</th>
                            </tr>
                            <tr>
                                <td>{{userInfo.stats.gamesPlayed}}</td>
                                <td>{{userInfo.stats.classicGamesWon}}</td>
                                <td>{{userInfo.stats.classicWinRatio}}</td>
                                <td>{{userInfo.stats.meanGameTime}}</td>
                                <td>{{userInfo.stats.timePlayed}}</td>
                                <td>{{userInfo.stats.bestSoloScore}}</td>
                                <td>{{userInfo.stats.bestCoopScore}}</td>
                                <td>{{userInfo.stats.totalDrawingVotes}}</td>
                            </tr>
                        </table>
                    </div>
                    <div id="table-container" *ngIf="category == '2'">
                        <table>
                            <tr>
                                <th>Date</th>
                                <th>Nom</th>
                                <th>Mode</th>
                                <th>Équipe 1</th>
                                <th>Équipe 2</th>
                            </tr>
                            <tr *ngFor="let game of userInfo.games">
                                <td>{{game.end}}</td>
                                <td>{{game.gameName}}</td>
                                <td>{{game.gameType}}</td>
                                <td *ngIf="game.gameType == 'Classic'">{{game.team1[0]}} et {{game.team1[1]}}</td>
                                <td *ngIf="game.gameType == 'Classic'">{{game.team2[0]}} et {{game.team2[1]}}</td>
                                <td *ngIf="game.gameType == 'Solo'">{{game.team2[0]}}</td>
                                <td *ngIf="game.gameType == 'Coop' && game.team2.length == 3">{{game.team2[0]}} et {{game.team2[1]}}</td>
                                <td *ngIf="game.gameType == 'Coop' && game.team2.length == 4">{{game.team2[0]}}, {{game.team2[1]}} et {{game.team2[2]}}</td>
                                <td *ngIf="game.gameType == 'Coop' && game.team2.length == 5">{{game.team2[0]}}, {{game.team2[1]}}, {{game.team2[2]}} et {{game.team2[3]}}</td>
                            </tr>
                        </table>
                    </div>
                    <div id="table-container" *ngIf="category == '3'">
                        <table>
                            <tr>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                            <tr *ngFor="let log of userInfo.logs">
                                <td>{{log.timestamp}}</td>
                                <td>{{log.isLogin}}</td>
                            </tr>
                        </table>
                    </div>                       
                </div>
            </div>
        </div>
        <div id="chat-column">
            <div id="chat-bar">
                <app-chat-bar *ngIf="!this.chatService.isChatInExternalWindow"></app-chat-bar>
            </div>
        </div>
    </div>
</div>