.wrapper {
    background-color: gray;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}

.column-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 95%;
}

.selected {
    color: #4AA7DD;
    font-weight: bold;
}

#chat-column {
    width: 380px;
}

#chat-bar {
    height: 100%;
    width: 380px;
    float: right;
}

#game-column {
    width: 365px;
    display: flex;
    flex-flow: row nowrap;
}

#leaderboard-column {
    flex: 1;
    flex-flow: column nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

#leaderboard-container {
    width: 90%;
    height: 80%;
    padding-right: 1px;
    background-color: white;
}

#toggle-group {
    width: 100%;
    height: 50px;
}

mat-button-toggle {
    flex: 1;
}

h1 {
    color: white;
    font-size: 30px;
    font-weight: 600px;
}

table {
    border-spacing:0 20px;
}

td{
    text-align: center;
}

#leaderboard {
    height: 90%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items:center;
    justify-content: center;
}

table {
    width: 100%;
}

th {
    padding: 2px;
}